@using DanhGiaRenLuyen_V6.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V6.Models.DBModel.Class>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Semester> semesters = ViewBag.Semester;
    List<Students> students = ViewBag.Student;
    Semester semester = semesters.FirstOrDefault(x => x.Id == ViewBag.SemesterId);
    List<SumaryOfPoint> sum = ViewBag.Sum;
    List<Class> cls = ViewBag.Class;
    List<Lecturers> lecturers = ViewBag.Lecturer;
}

<form asp-action="Index">
    <input type="hidden" name="departmentId" value="@ViewBag.DepartmentId">
    <div class="form-group">
        <select name="semesterId">
            @foreach(var item in semesters)
            {
                <option value="@item.Id">Kỳ @item.Name Năm học @item.SchoolYear</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select name="classId">
            <option>Tất cả lớp đang học</option>
            @foreach (var item in cls)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Tìm kiếm" />
    </div>
</form>
<form asp-action="ConvertToPDF">
    <label>Xuất file PDF</label>
    <input type="hidden" name="departmentId" value="@ViewBag.DepartmentId">
    <input type="hidden" name="classId" value="@ViewBag.ClassId"/>
    <input type="hidden" name="semesterId" value="@ViewBag.SemesterId"/>
    <div class="form-group">
        <input type="submit" value="Xuất file PDF" />
    </div>
</form>
<header>
    <section id="QuocHieu">
        <div>
            <p>KHOA @Model.FirstOrDefault().Department.Name <br><b>NGÀNH @Model.FirstOrDefault().Department.Name</b></p>
        </div>
        <div>
            <p><b>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM <br> Độc lập - Tự do - Hạnh phúc</b></p>
        </div>
    </section>
    <section id="TT">
        <p>Hà Nội, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</p>
    </section>
</header>
<section id="BienBan">
    <div class="TieuDe">
        <h2>BIÊN BẢN <br> ĐÁNH GIÁ KẾT QUẢ RÈN LUYỆN HỌC KỲ @semester.Name, <br> NĂM HỌC @semester.SchoolYear</h2>
    </div>
    <div>
        <p><b>1. Thời gian: </b>... giờ, ngày... tháng... năm... </p>
    </div>
    <div>
        <p><b>2. Địa điểm: </b>Văn phòng Khoa @Model.FirstOrDefault().Department.Name</p>
    </div>
    <div>
        <p>
            <b>3. Thành phần: </b> <br>
        </p>
            @foreach(var item in lecturers)
            {
                <p> - @item.FullName - @item.Position.Name </P>
            }
            
    </div>
    <div>
        <div>
            <p><b>4. Nội dung đánh giá</b></p>
            <p><b>4.1 Số lượng sinh viên đánh giá rèn luyện của khoa</b></p>
        </div>
        <table class="table" border="1px" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Lớp</th>
                    <th scope="col">Số sinh viên đánh giá</th>
                    <th scope="col">Số sinh viên không đánh giá</th>
                    <th scope="col">Tổng sinh viên</th>
                    <th scope="col">Sinh sách SV không đánh giá</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 1;
                    foreach(var item in Model){
           
                        int dem = 0;
                        <tr>
                            @foreach (var i in students.Where(x => x.ClassId == item.Id ))
                            {
                                if(i.SumaryOfPoints.FirstOrDefault(x => x.SemesterId == ViewBag.SemesterId) != null)
                                {
                                    dem++;
                                }
                            }
                            <th>@stt @{stt++;}</th>
     
                            <td>@item.Name</td>
                            <td>@dem</td>
                            <td>@{
                                   int a = students.Where(x => x.ClassId == item.Id).Count() - dem;
                                } @a</td>
                            <td>@students.Where(x => x.ClassId == item.Id ).Count()</td>
                            <td>
                            @foreach (var i in students.Where(x => x.ClassId == item.Id))
                            {
                                if (i.SumaryOfPoints.FirstOrDefault(x => x.SemesterId == ViewBag.SemesterId) == null)
                                {
                                        <p>@i.FullName - @if (i.IsActive == 1)
                                            {
                                                <span>Đang học</span>
                                            }
                                            else if (i.IsActive == 2)
                                            {
                                                <span>Bảo lưu</span>
                                            }
                                            else if (i.IsActive == 0)
                                            {
                                                <span>Thôi học</span>
                                            }
                                        </p>

                                    }
                            }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <p><b>4.2. Tổng hợp kết quả đánh giá rèn luyện theo lớp (có bảng chi tiết kèm theo)</b></p>
    </div>
    <div>
        <p><b>4.3. Tổng hợp xếp loại đánh giá rèn luyện của Khoa</b></p>
        <table class="table" border="1px" cellspacing="0" align="center">
            <thead>
                @{
                    int stt1 = 1;
                    int classCount = Model.Count()*2;
                }
                <tr>
                    <th scope="col" rowspan="2">STT</th>
                    <th scope="col" rowspan="2">Ngành</th>
                    <th scope="col" colspan="2">Tổng số điểm</th>
                    <th scope="col">Từ 90 - 100 điểm</th>
                    <th scope="col">Từ 80 - 89 điểm</th>
                    <th scope="col">Từ 70 - 79 điểm</th>
                    <th scope="col">Từ 60 - 69 điểm</th>
                    <th scope="col">Từ 50 - 59 điểm</th>
                    <th scope="col">Từ 40 - 49 điểm</th>
                    <th scope="col">Dưới 40 điểm</th>
                </tr>
                <tr>
                    <th scope="col" colspan="2">Xếp loại</th>
                    <th scope="col">Xuất sắc</th>
                    <th scope="col">Tốt</th>
                    <th scope="col">Khá</th>
                    <th scope="col">TB khá</th>
                    <th scope="col">TB</th>
                    <th scope="col">Yếu</th>
                    <th scope="col">Kém</th>
                </tr>
            </thead>
            <tbody>

                @foreach(var item in Model){

                <tr>
                        <th rowspan="2">@stt1 @{
                                stt1++; int demsv = students.Where(x => x.ClassId == item.Id).Count();
                                int demsv1 = demsv;
                                if(demsv == 0)
                                {
                                    demsv1 = 1;
                                }
                            }</th>
                        <td rowspan="2" style="width:100px;">@Model.FirstOrDefault().Department.Name</td>
                        <td rowspan="2">@item.Name (@demsv)</td>
                        <td>SL</td>

                            @{var sum1 = sum.Where(x => x.Student.ClassId == item.Id);}

                            <td>@sum1.Where(x => x.LastPoint >= 90).Count()</td>
                            <td>@sum1.Where(x => x.LastPoint >= 80 && x.LastPoint <90).Count()</td>
                            <td>@sum1.Where(x => x.LastPoint >= 70 && x.LastPoint < 80).Count()</td>
                            <td>@sum1.Where(x => x.LastPoint >= 60 && x.LastPoint < 70).Count()</td>
                            <td>@sum1.Where(x => x.LastPoint >= 50 && x.LastPoint <60).Count()</td>
                            <td>@sum1.Where(x => x.LastPoint >= 40 && x.LastPoint < 50).Count()</td>
                            <td>@sum1.Where(x => x.LastPoint < 40).Count()</td>


                    </tr>
                    double tl;
                    <tr>
                        <td>TL</td>
                        <td>@{
                                tl = sum1.Where(x => x.LastPoint >= 90).Count() * 100.0 / demsv1;
                            }@String.Format("{0:F2}", tl)%
                        </td>
                        <td>
                            @{
                                tl = sum1.Where(x => x.LastPoint >= 80 && x.LastPoint < 90).Count() * 100.0 / demsv1;
                            }@String.Format("{0:F2}", tl)%
                        </td>
                        <td>
                            @{
                                tl = sum1.Where(x => x.LastPoint >= 70 && x.LastPoint < 80).Count() * 100.0 / demsv1;
                            }@String.Format("{0:F2}", tl)%
                        </td>
                        <td>
                            @{
                                tl = sum1.Where(x => x.LastPoint >= 60 && x.LastPoint < 70).Count() * 100.0 / demsv1;
                            }@String.Format("{0:F2}", tl)%
                        </td>
                        <td>
                            @{
                                tl = sum1.Where(x => x.LastPoint >= 50 && x.LastPoint < 60).Count() * 100.0 / demsv1;
                            }@String.Format("{0:F2}", tl)%
                        </td>
                        <td>
                            @{
                                tl = sum1.Where(x => x.LastPoint >= 40 && x.LastPoint < 50).Count() * 100.0 / demsv1;
                            }@String.Format("{0:F2}", tl)%
                        </td>
                        <td>
                            @{
                                tl = sum1.Where(x => x.LastPoint < 40).Count() * 100.00 / demsv1;

                            }@String.Format("{0:F2}", tl)%
                        </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    
                    <th colspan="3">Tổng</th>
                    <th>SL</th>

                    <td>@sum.Where(x => x.LastPoint >= 90).Count()</td>
                    <td>@sum.Where(x => x.LastPoint >= 80 && x.LastPoint < 90).Count()</td>
                    <td>@sum.Where(x => x.LastPoint >= 70 && x.LastPoint < 80).Count()</td>
                    <td>@sum.Where(x => x.LastPoint >= 60 && x.LastPoint < 70).Count()</td>
                    <td>@sum.Where(x => x.LastPoint >= 50 && x.LastPoint < 60).Count()</td>
                    <td>@sum.Where(x => x.LastPoint >= 40 && x.LastPoint < 50).Count()</td>
                    <td>@sum.Where(x => x.LastPoint < 40).Count()</td>
                </tr>
                <tr>
                    <th colspan="3">@students.Count()</th>
                    <th>TL</th>
                    @{
                        double ttl;
                    }
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint >= 90).Count() * 100.0 / students.Count();
                        }@String.Format("{0:F2}", ttl)%
                    </td>
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint >= 80 && x.LastPoint < 90).Count() * 100.0 / students.Count();
                        }@String.Format("{0:F2}", ttl)%
                    </td>
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint >= 70 && x.LastPoint < 80).Count() * 100.0 / students.Count();
                        }@String.Format("{0:F2}", ttl)%
                    </td>
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint >= 60 && x.LastPoint < 70).Count() * 100.0 / students.Count();
                        }@String.Format("{0:F2}", ttl)%
                    </td>
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint >= 50 && x.LastPoint < 60).Count() * 100.0 / students.Count();
                        }@String.Format("{0:F2}", ttl)%
                    </td>
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint >= 40 && x.LastPoint < 50).Count() * 100.0 / students.Count();
                        }@String.Format("{0:F2}", ttl)%
                    </td>
                    <td>
                        @{
                            ttl = sum.Where(x => x.LastPoint < 40).Count() * 100.00 / students.Count();

                        }@String.Format("{0:F2}", ttl)%
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>Cuộc họp kết thúc vào lúc 11 giờ cùng ngày.</p>
    </div>
</section>
<section id="foot">
    <div>
        <p><b>Chủ tịch Hội đồng</b></p>
        <p><b>...</b></p>
    </div>
    <div>
        <p><b>Thư ký</b></p>
        <p><b>...</b></p>
    </div>
</section>
