@model IEnumerable<DanhGiaRenLuyen_V6.Models.DBModel.Students>
@using DanhGiaRenLuyen_V6.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}
<div>
    <form asp-controller="Student" asp-action="Index" method="get">
        <input type="text" name="name" placeholder="Tìm kiếm" value="@ViewBag.Name">
        <button type="submit">Tìm kiếm</button>
    </form>
    <hr />
    @if (Model.FirstOrDefault() != null)
    {
        <table class="table">
            <tbody class="table-group-divider">

                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            int classPoint = item.SumaryOfPoints.FirstOrDefault()?.ClassPoint ?? 0;
                            int selfPoint = item.SumaryOfPoints.FirstOrDefault()?.SelfPoint ?? 0;
                        }
                        <td><a asp-controller="History" asp-action="Self" asp-route-studentId="@item.Id"><p>@item.Id</p></a></td>
                        @if (item.PositionId == PositionConstants.CanBoLop)
                        {
                            <td><b class="text-green">@item.FullName</b></td>
                        }
                        else
                        {
                            <td><b> @item.FullName</b></td>
                        }
                        <td>@selfPoint điểm</td>

                        @if (classPoint != 0)
                        {
                            <td><a asp-controller="History" asp-action="Class" asp-route-studentId="@item.Id">@classPoint điểm</a></td>
                        }
                        else
                        {
                            <td><p class="text-danger">Chưa đánh giá</p></td>
                        }
                        @if (item.IsActive == 1)
                        {
                            <td> <a class="nav-link text-dark btn btn-outline-warning" asp-area="Student" asp-controller="LT_DGRL" asp-action="Index" asp-route-studentId="@item.Id">Đánh giá</a></td>
                        }
                        else
                        {
                            <p class="text-danger">Không thể đánh giá do sinh viên đã nghỉ học hoặc bảo lưu</p>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">
            <h5>Không tìm thấy sinh viên nào !!!</h5>
        </div>
    }
</div>
