@using DanhGiaRenLuyen_V5.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V5.Models.DBModel.GroupQuestion>

@{
    ViewData["Title"] = "kết quả đánh giá";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    List<Semester> semesters = ViewBag.Semester;
    var semester = semesters.FirstOrDefault(x => x.Id == ViewBag.SemesterId);
    int stt = 1;
}
<h3 class="text-center">Kết quả tự đánh giá kì @semester.Name năm học @semester.SchoolYear</h3>

@await Component.InvokeAsync("InforStudent", new { id = ViewBag.Id })


<div>
    <h5 style="color:green;">Tổng điểm tự đánh giá: @ViewBag.SumSelfPoint</h5>
</div>
<hr />
<form asp-action="Self" method="get">
    <input type="hidden" name="studentId" value="@ViewBag.Id" />
    <select name="semesterId" class="form-control">
        @foreach (var item in semesters)
        {
            <option value="@item.Id">Kì @item.Name - Năm học @item.SchoolYear</option>
        }
    </select>
    <input type="submit" value="Tìm kiếm" class="btn btn-outline-secondary " />
</form>
<div class="row">
    <div>
        @if (ViewBag.SumSelfPoint != 0){
            @foreach (var questionGroup in Model)
            {
                <h4>@questionGroup.Name</h4>
                foreach (var question in questionGroup.QuestionLists)
                {
                    <h5>@stt. @question.ContentQuestion</h5>
                    stt++;
                    foreach (var answer in question.AnswerLists)
                    {
                        if(answer.IsEdit == true){
                            bool check;
                            if (answer.Checked == 1)
                            {
                                check = true;
                            }
                            else
                            {
                                check = false;
                            }
                            if (question.TypeQuestionId == 1)
                            {
                                <input class="form-check-input" type="radio" id="answerId[@answer.Id]" checked="@check" value="@answer.Id" name="answerIds[@question.Id]" onclick="return false;">
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" value="@answer.Id" checked="@check" name="answerId[@answer.Id]" id="answerId[@answer.Id]" onclick="return false;">
                            }
                            <label class="form-check-label" for="answerId[@answer.Id]">@answer.ContentAnswer (@answer.AnswerScore điểm)</label>
                            <br />
                        }
                       
                    }
                }
            }
        }
        else
            {
                <p class="text-danger">Không tồn tại kết quả tự đánh giá kì @semester.Name năm học @semester.SchoolYear</p>
            }
            </div>

</div>



