@model IEnumerable<DanhGiaRenLuyen_V2.Models.DBModel.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentQuestion)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.GroupQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentQuestion)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.GroupQuestion.Name)
                </td>
                <td>
                    Kỳ
                    @Html.DisplayFor(modelItem => item.Semester.Name)
                    - Năm
                    @Html.DisplayFor(modelItem => item.Semester.SchoolYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeQuestion.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderBy)
                </td>
                <td>
                    <a asp-action="IndexAnswer" asp-route-id="@item.Id">Answers</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
