@using DanhGiaRenLuyen_V5.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V5.Models.DBModel.GroupQuestion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    int stt = 1;
    Semester semester = ViewBag.Semester;
}
@await Component.InvokeAsync("InforStudent", new { id = ViewBag.Id })

@if (ViewBag.SemesterId != 0){
<h2 class="text-center">Câu hỏi kì @semester.Name năm học @semester.SchoolYear</h2>

<hr />
<div class="row">
    <div class="">
            <form asp-action="Submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="semesterId" value="@ViewBag.SemesterId" />
            @foreach(var questionGroup in Model)
                {
                <h4> @questionGroup.Name</h4>

                foreach(var question in questionGroup.QuestionLists){
                    
                    var questionList = question.QuestionHisories.Where(x => x.SemesterId == ViewBag.semesterId).FirstOrDefault();
                    if (questionList != null)
                    {
                            <h5>@stt.@question.ContentQuestion</h5>
                            stt++;
                        foreach (var answer in question.AnswerLists)
                        {
                            if (answer.Status == 1)
                            {
                                bool check;
                                if (answer.Checked == 1)
                                {
                                    check = true;
                                }
                                else
                                {
                                    check = false;
                                }
                                if (question.TypeQuestionId == 1)
                                {
                                    <input class="form-check-input" type="radio" id="answerId[@answer.Id]" checked="@check" value="@answer.Id" name="answerIds[@question.Id]">
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="@answer.Id" checked="@check" name="answerId[@answer.Id]" id="answerId[@answer.Id]">
                                }
                                <label class="form-check-label" for="answerId[@answer.Id]">@answer.ContentAnswer (@answer.AnswerScore điểm)</label>
                                <br />
                            }
                        }
                    }
                }
            }
            <div class="form-group">
                <input type="submit" value="Gửi đánh giá" class="btn btn-primary" />
                </div>

        </form>
    </div>
</div>
}else
{
    <div class="alert alert-danger">
    <p>Bạn không thể sửa đánh giá của mình vì phiên tự đánh giá đã kết thúc! </p>
    </div>
}


