@using DanhGiaRenLuyen_V6.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V6.Models.DBModel.GroupQuestion>
@{
    ViewData["Title"] = "GroupQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Semester> semesters = ViewBag.Semester;
    int stt = 1;
}
    <h4>Danh sách câu hỏi</h4>
<div>
    <a asp-action="Create">Tạo câu hỏi mới</a>
    <form asp-action="SelectAll">
        <input type="hidden" name="list" value="true" />
        <label>Sử dụng bộ câu hỏi kì</label>
        <select name="semesterId">
            @foreach (var item in semesters)
            {
                <option value="@item.Id">Kì @item.Name - Năm học @item.SchoolYear</option>
            }
        </select>
        <input type="submit" value="Chọn" class="btn btn-outline-dark" />
    </form>
    <a asp-action="SelectAll" class="btn btn-warning" asp-route-list="true">Chọn tất cả câu hỏi</a>
    <a asp-controller="QuestionLists" asp-action="Index" style="position:absolute; right: 10%; margin-top: 1.5rem;">Hiển thị dưới dạng danh sách</a>
</div>

    <hr />
    <div class="row">
        <div class="">
            @foreach (var questionGroup in Model)
            {
                <h4>@questionGroup.Name</h4>
                foreach (var question in questionGroup.QuestionLists)
                {
           
                    <div class="row">
                        <div class="col">
                        <h5>@stt. @question.ContentQuestion</h5>
                        @{
                            stt++;
                        }
                        </div>
                        <div class="col">
                        @if (question.Status == 1)
                        {
                            <a asp-action="UnSet" asp-route-questionId="@question.Id" class="btn btn-outline-warning" asp-route-list="true">Bỏ chọn</a>
                        }
                        else
                        {
                            <a asp-action="Set" asp-route-questionId="@question.Id" class="btn btn-outline-primary" asp-route-list="true">Chọn</a>
                        }
                        </div>
                        <div class="col">
                        <a asp-controller="AnswerLists" asp-action="Index" asp-route-questionId="@question.Id">Xem câu trả lời</a>

                        @if (question.IsEdit == true)
                            {
                                <i class="text-danger">Câu hỏi này không thể chỉnh sửa do đã được sử dụng</i>
                            }
                            else
                            {
                            <a asp-action="Edit" asp-route-id="@question.Id">Chỉnh sửa</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@question.Id">Xoá</a>
                            }
                        </div>
                    </div>
                                   


                    foreach (var answer in question.AnswerLists)
                    {
                    <div class="row" style="border-bottom: 1px solid #ccc; margin: 0 2rem">
                        <div class="col">
                            <p> - @answer.ContentAnswer</p>
                        </div>
                    </div>
                    }
                }
            }
        </div>
    </div>


