@using DanhGiaRenLuyen_V4.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V4.Models.DBModel.Student>
<form asp-action="Index" method="get">
    <input type="text" name="name" placeholder="Nhập tên sinh viên">
    <button type="submit">Tìm kiếm</button>
</form>
<hr />
@if (Model.FirstOrDefault() != null){
<ul class="">

    @foreach (var item in Model)
    {

        <li class="nav-item">
                @{
                    int classPoint = item.SumaryOfPoints.FirstOrDefault()?.ClassPoint ?? 0;
                    int selfPoint = item.SumaryOfPoints.FirstOrDefault()?.SelfPoint ?? 0;
                }
            @if (classPoint != 0)
            {

                <h5>@item.FullName (@item.Id) - @selfPoint điểm - @classPoint điểm</h5>
            }
            else
            {
                <h5>@item.FullName (@item.Id) - @selfPoint điểm - <nav class="text-danger">Chưa đánh giá</nav></h5>
            }
            @if (item.IsActive == 1)
            {
                <a class="nav-link" asp-area="Student" asp-controller="LT_DGRL" asp-action="Index" asp-route-studentId="@item.Id">Đánh giá</a>
            }
            else
            {
                <p class="text-danger">Không thể đánh giá do sinh viên đã nghỉ học hoặc bảo lưu</p>
            }
            <a class="nav-link" asp-area="Student" asp-controller="History" asp-action="Class" asp-route-studentId="@item.Id">Lịch sử đánh giá</a>

        </li>
    }
</ul>

}
else
{
    <div class="alert alert-danger">
        <h5>Không tìm thấy sinh viên nào !!!</h5>
    </div>
}