@model IEnumerable<DanhGiaRenLuyen_V4.Models.DBModel.GroupQuestion>
@using DanhGiaRenLuyen_V4.Models.DBModel
@{
    ViewData["Title"] = "kết quả đánh giá";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    List<ClassAnswer> classAnswers = ViewBag.ClassAnswer;
    List<Semester> semesters = ViewBag.Semester;
}
<div class="row">
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
        <div class="col openMenu">
            <a href="#" onclick="w3_close()"
               class="w3-bar-item w3-button"><i class="fa-solid fa-outdent"></i> Trở về</a>
            @await Component.InvokeAsync("Student")
        </div>
    </nav>

    <!-- Top menu -->
    <div class="">
        <div class="" style="max-width:1200px;margin:auto">
            <div class="menuStudent" onclick="w3_open()">☰</div>
        </div>
    </div>
    @await Component.InvokeAsync("InforStudent", new { id = ViewBag.Id })

     <div class="col">

        <h5>Kết quả đánh giá cho sinh viên @ViewBag.Id</h5>
            <form asp-action="Class" method="get">
                <label>Chọn kì học:</label>
                <input type="hidden" name="studentId" value="@ViewBag.Id" />
                <select name="semesterId" class="form-control">
                @foreach (var item in semesters)
                {
                    <option value="@item.Id">Kì @item.Name - Năm học @item.SchoolYear</option>
                }
                </select>
                <input type="submit" value="Tìm kiếm" />
            </form>

        <hr />
        <div class="row">
            <div class="col">
                @foreach (var questionGroup in Model)
                {
                    <h4>@questionGroup.Name</h4>
                    foreach (var question in questionGroup.QuestionLists)
                    {
                        <h6>@question.ContentQuestion</h6>
                        foreach (var answer in question.AnswerLists)
                        {
                            foreach (var selfAnswer in answer.ClassAnswers)
                            {

                                <p class="form-check-label"> - @selfAnswer.Answer.ContentAnswer (@selfAnswer.Answer.AnswerScore điểm)</p>
                                <br />
                            }
                        }
                    }
                }
            </div>
            <div class="col">
                <h2>Tổng điểm tự đánh giá: @ViewBag.SumSelfPoint  <a asp-area="Student" asp-controller="History" asp-action="Self" asp-route-studentId="@ViewBag.StudentId">Xem chi tiết</a></h2>
                <h2>Tổng điểm bạn đánh giá cho sinh viên: @ViewBag.SumClassPoint</h2>
            </div>
        </div>

    </div>

</div>