@model IEnumerable<DanhGiaRenLuyen_V5.Models.DBModel.Students>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Lecturer/Views/Shared/_LayoutLecturer.cshtml";
    int i = 0;
}
<form asp-action="Index" method="get">
    <select name="classId" asp-items="@ViewBag.Class">
        <option selected>Tất cả</option>
    </select>
    <input type="text" name="name" placeholder="Nhập tên sinh viên" @ViewBag.Name>
    <button type="submit">Tìm kiếm</button>
</form>
<form asp-action="Submit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Điểm tự đánh giá</th>
                <th>Điểm cán bộ lớp đánh giá</th>
                <th>Điểm giảng viên chấm</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        @foreach (var item in Model) {

            <tr>
                @{
                    int selfPoint = item.SumaryOfPoints.FirstOrDefault()?.SelfPoint ?? 0;
                    int classPoint = item.SumaryOfPoints.FirstOrDefault()?.ClassPoint ?? 0;
                    int lecturerPoint = item.SumaryOfPoints.FirstOrDefault()?.LecturerPoint ?? 0;
                }
                <td>@item.FullName (@item.Id)</td>
                <td>@item.Birthday</td>
                @if (item.Gender == false)
                {
                <td>Nam</td>
                }
                else
                {
                    <td>Nữ</td>
                }
                <td>@selfPoint điểm</td>
                <td>@classPoint điểm</td>   
                <td>
                    <div>

                        <input type="hidden" name="sum[@i].StudentId" value="@item.Id" />
                        @if (selfPoint != 0)
                        {
                            <input class="" type="number" name="sum[@i].LecturerPoint" value="@lecturerPoint" id="LecturerPoint">
                        }else{
                            <p class="text-danger">Không thể đánh giá sinh viên này do sinh viên chưa tự đánh giá</p>
                        }
                    </div>
                </td>
                @{
                    i++;
                }
            </tr>
        }
        </tbody>
        <tr>
            <td>
                <div class="form-group">
                    <input type="submit" value="Lưu lại" class="btn btn-primary" />
                </div>
            </td>
        </tr>
    </table>
</form>