@model DanhGiaRenLuyen.Models.DBModel.Accountlecturer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Accountlecturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updatedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updatedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
