@model DanhGiaRenLuyen_V6.Models.DBModel.AccountLecturer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AccountLecturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        @if(Model.IsActive == 1)
        {
            <dd class="col-sm-10">
                Đang được kích hoạt
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Đã dừng kích hoạt
            </dd>
        }

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-lecturerId ="@Model.LecturerId">Quay lại</a>
</div>
