@using DanhGiaRenLuyen_V6.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V6.Models.DBModel.SumaryOfPoint>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Semester> semesters = ViewBag.Semester;
    Semester semester = semesters.FirstOrDefault(x => x.Id == ViewBag.SemesterId);
    List<Class> cls = ViewBag.Class;
    Class cl = cls.FirstOrDefault(x => x.Id == ViewBag.ClassId);
    List<Students> students = ViewBag.Student;
}
<p><b>Khoa: @Model.FirstOrDefault().Class.Department.Name</b></p>
<p><b>Ngành: @Model.FirstOrDefault().Class.Department.Name</b></p>
<form asp-action="Index">
    <input type="hidden" name="departmentId" value="@ViewBag.DepartmentId">
    <div class="form-group">
        <select name="semesterId">
            @foreach (var item in semesters)
            {
                <option value="@item.Id">Kỳ @item.Name Năm học @item.SchoolYear</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select name="classId">
            @foreach (var item in cls)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Tìm kiếm" />
    </div>
</form>
<h2 class="text-center">KẾT QUẢ ĐÁNH GIÁ RÈN LUYỆN LỚP @cl.Name</h2>
<table class="table">
    <thead>
        <tr>
            <th rowspan="2">STT</th>
            <th rowspan="2">
                Mã SV
            </th>
            <th rowspan="2">
                Họ và tên
            </th>
            <th rowspan="2">
                Ngày sinh
            </th>
            <th rowspan="2">
                Giới tính
            </th>
            <th colspan="3">
                ĐIỂM RÈN LUYỆN
            </th>
            <th colspan="2">
                Kết quả
            </th>
            <th rowspan="2">Ghi chú</th>
        </tr>
        <tr>
            <th>SV</th>
            <th>Lớp</th>
            <th>Khoa</th>
            <th>Điểm</th>
            <th>Xếp loại</th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
        }
        @foreach (var item in Model) {
        <tr>
            <td>@stt @{stt++;}</td>

            <td>
                @item.StudentId
            </td>
            <td>
                @item.Student.FullName
            </td>
            <td>
                @item.Student.Birthday
            </td>
                @if (item.Student.Gender == true)
                {
                    <td>
                        Nữ
                    </td>
                }
                else
                {
                    <td>
                        Nam
                    </td>
                }

            <td>
                @item.SelfPoint
            </td>
            <td>
                @item.ClassPoint
            </td>
            <td>
                @item.LecturerPoint
            </td>
            <td>@item.LastPoint</td>
            <td>@item.Classify</td>
            <td>@if (item.Student.IsActive == 2)
                {
                    <span>Bảo lưu</span>
                }else if(item.Student.IsActive == 0)
                {
                    <span>Nghỉ học</span>
                }
                else
                {
                    <span></span>
                }
            </td>
            </tr>
}
        @foreach(var item in students)
        {
            <tr>
                <td>@stt @{
                        stt++;
                    }</td>

                <td>
                    @item.Id
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Birthday
                </td>
                @if (item.Gender == true)
                {
                    <td>
                        Nữ
                    </td>
                }
                else
                {
                    <td>
                        Nam
                    </td>
                }

                <td colspan="5">
                    Không DGRL
                </td>
                <td>
                    @if (item.IsActive == 2)
                    {
                        <span>Bảo lưu</span>
                    }
                    else if (item.IsActive == 0)
                    {
                        <span>Nghỉ học</span>
                    }
                    else
                    {
                        <span>Đang học</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
