@using DanhGiaRenLuyen_V5.Models.DBModel
@model IEnumerable<DanhGiaRenLuyen_V5.Models.DBModel.Lecturers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Department> departments = ViewBag.Department;
}

<h1>Danh sách giảng viên</h1>
<form asp-action="Index">
    <div class="form-group">
        <select name="departmentId" class="form-control">
            <option>Tất cả</option>
            @foreach (var item in departments)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input name="name" value="@ViewBag.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
    </div>
</form>
<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                @if(item.IsActive == 1)
                {
                    <td>
                        Đang giảng dạy
                    </td>
                }
                else if (item.IsActive == 2)
                {
                    <td>
                        Nghỉ phép
                    </td>
                }
                else
                {
                    <td>
                        Nghỉ dạy
                    </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ẩn</a> |
                <a asp-controller="AccountLecturers" asp-action="Index" asp-route-lecturerId = "@item.Id">Tài khoản</a>
            </td>
        </tr>
}
    </tbody>
</table>
