@model DanhGiaRenLuyen_V4.Models.DBModel.Semester

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
    int monthNow = DateTime.Now.Month;
    int timeSemester1=0;
    int Semester = 1;
    if (monthNow < 6)
    {
        timeSemester1 = DateTime.Now.Year -1;
        Semester = 2;
    }
    else
    {
        timeSemester1 = DateTime.Now.Year;
    }
    int timeSemester2 = timeSemester1 + 1;
}

<h1>Create</h1>

<h4>Semester</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Semester" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolYear" class="control-label"></label>
                <input asp-for="SchoolYear" class="form-control" value="@timeSemester1 - @timeSemester2" />
                <span asp-validation-for="SchoolYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOpenStudent" class="control-label"></label>
                <input asp-for="DateOpenStudent" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="DateOpenStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndStudent" class="control-label"></label>
                <input asp-for="DateEndStudent" class="form-control" value="@DateTime.Now.AddDays(7)" />
                <span asp-validation-for="DateEndStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndClass" class="control-label"></label>
                <input asp-for="DateEndClass" class="form-control" value="@DateTime.Now.AddDays(7)" />
                <span asp-validation-for="DateEndClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndLecturer" class="control-label"></label>
                <input asp-for="DateEndLecturer" class="form-control" value="@DateTime.Now.AddDays(7)" />
                <span asp-validation-for="DateEndLecturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" value="1"/>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
