@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NETCore_Lession04.Models.DataModels.Member
@{
    var member = Model as NETCore_Lession04.Models.DataModels.Member;
}
<h2>Index member</h2>
<div class="alert alert-danger">
    <p>Member ID: @Model.MemberId</p>
    <p>User Name: @Model.UserName</p>
    <p>Full Name: @Model.FullName</p>
    <p>Password: @Model.Password</p>
    <p>Email: @Model.Email</p>
</div>
<div class="alert alert-danger">
    <p>Member ID: @member.MemberId</p>
    <p>User Name: @member.UserName</p>
    <p>Full Name: @member.FullName</p>
    <p>Password: @member.Password</p>
    <p>Email: @member.Email</p>
</div>
<div class="alert alert-danger">
    <p>Member ID: @Model.MemberId</p>
    <p>User Name: @Model.UserName</p>
    <p>Full Name: @Model.FullName</p>
    <p>Password: @Model.Password</p>
    <p>Email: @Model.Email</p>
</div>