@model IEnumerable<DanhGiaRenLuyen_V6.Models.DBModel.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Khoá học</h1>
@if(ViewBag.IsDelete == false)
{
    <p>
        <a asp-action="Create">Tạo mới</a>
    </p>
}
else
{
    <h3 class="text-danger">Danh sách ẩn</h3>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Khoá học
            </th>
            <th>
                Năm học
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                @if(ViewBag.IsDelete == false)
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-isDelete="false">Kết thúc khoá học</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Show" asp-route-id="@item.Id" asp-route-isDelete="true">Bắt đầu lại khoá học</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Remove" asp-route-isDelete="true" asp-route-id="@item.Id">Xoá</a>
                    </td>
                }

        </tr>
}
    </tbody>
</table>
