@model DanhGiaRenLuyen_V6.Models.DBModel.Class

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xác nhận hoàn thành</h1>

<h3>Bạn có chắc chắn muốn hoàn thành lớp học</h3>
<p class="text-danger">Khi hoàn 1 lớp học các học sinh và tài khoản của học sinh cũng sẽ bị ẩn và dừng hoạt động</p>
<div>
    <h4>Lớp học</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        @if (Model.IsActive == 1)
        {
            <dd class="col-sm-10">
                Đang hoạt động
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Đã dừng hoạt động
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Xác nhận" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-isDelete="false">Quay lại</a>
    </form>
</div>
